Checks:          '-*,
                  readability-identifier-naming,
                 '
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           UPPER_CASE
