name: External-CI

on: 
  pull_request:

jobs:
  industrial_ci_external:
    strategy:
      matrix:
        include:
          - repo: 'ros-industrial/industrial_core'
            ref: 'kinetic-devel'
            env: {ROS_DISTRO: kinetic}

          - repo: 'ros-industrial/motoman_experimental'
            ref: 'kinetic-devel'
            env: {ROS_DISTRO: kinetic, UPSTREAM_WORKSPACE: '.travis.rosinstall -ros-industrial/industrial_experimental/IRC_v2', ROS_REPO: ros}
    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout external repository
        uses: actions/checkout@v2
        with:
          repository: ${{matrix.repo}}
          ref: ${{matrix.ref}}
      
      - uses: actions/checkout@v2
        with:
          path: .industrial_ci
      
      - uses: './.industrial_ci/'
        env: ${{matrix.env}}
